<div class="container">
    <nav>
        <div className="nav-wrapper indigo">
            <a href="#" className="brand-logo">Vote Logo</a>
            <ul className="right hide-on-med-and-down">
                <li><a href="#">Polls</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <ul id="nav-mobile" className="side-nav">
                <li><a href="#">Polls</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" className="button-collapse"><i className="material-icons">menu</i></a>
        </div>
    </nav>
    <contact-list></contact-list>
</div>
